{%- set port_attr_id_list = ["LAI_PORT_ATTR_OPER_STATUS",
                             "LAI_PORT_ATTR_ADMIN_STATE",
                             "LAI_PORT_ATTR_EQUIPMENT_FAILURE",
                             "LAI_PORT_ATTR_EQUIPMENT_MISMATCH",
                             "LAI_PORT_ATTR_HIGH_THRESHOLD",
                             "LAI_PORT_ATTR_LED_COLOR",
                             "LAI_PORT_ATTR_LED_MODE",
                             "LAI_PORT_ATTR_LOS_THRESHOLD",
                             "LAI_PORT_ATTR_LOW_THRESHOLD",
                             "LAI_PORT_ATTR_ROLL_OFF",
                             "LAI_PORT_ATTR_RX_CD_RANGE",
                             "LAI_PORT_ATTR_EMPTY",
                             "LAI_PORT_ATTR_REMOVABLE",
                             "LAI_PORT_ATTR_INPUT_OFFSET",
                             "LAI_PORT_ATTR_OUTPUT_OFFSET",
                             "LAI_PORT_ATTR_OPTICAL_PORT_TYPE"] %}
{%- set inport_gauge_id_list = ["LAI_PORT_STAT_INPUT_POWER"] %}
{%- set outport_gauge_id_list = ["LAI_PORT_STAT_OUTPUT_POWER"] %}
{%- set aps_attr_id_list = ["LAI_APS_ATTR_ADMIN_STATE",
                            "LAI_APS_ATTR_TYPE",
                            "LAI_APS_ATTR_REVERTIVE",
                            "LAI_APS_ATTR_WAIT_TO_RESTORE_TIME",
                            "LAI_APS_ATTR_HOLD_OFF_TIME",
                            "LAI_APS_ATTR_PRIMARY_SWITCH_THRESHOLD",
                            "LAI_APS_ATTR_PRIMARY_SWITCH_HYSTERESIS",
                            "LAI_APS_ATTR_SECONDARY_SWITCH_THRESHOLD",
                            "LAI_APS_ATTR_RELATIVE_SWITCH_THRESHOLD",
                            "LAI_APS_ATTR_RELATIVE_SWITCH_THRESHOLD_OFFSET",
                            "LAI_APS_ATTR_FORCE_TO_PORT",
                            "LAI_APS_ATTR_ACTIVE_PATH",
                            "LAI_APS_ATTR_SERIAL_NO",
                            "LAI_APS_ATTR_PART_NO",
                            "LAI_APS_ATTR_MFG_NAME",
                            "LAI_APS_ATTR_MFG_DATE",
                            "LAI_APS_ATTR_OPER_STATUS",
                            "LAI_APS_ATTR_EMPTY",
                            "LAI_APS_ATTR_REMOVABLE",
                            "LAI_APS_ATTR_EQUIPMENT_FAILURE",
                            "LAI_APS_ATTR_EQUIPMENT_MISMATCH",
                            "LAI_APS_ATTR_FIRMWARE_VERSION",
                            "LAI_APS_ATTR_HARDWARE_VERSION",
                            "LAI_APS_ATTR_SOFTWARE_VERSION",
                            "LAI_APS_ATTR_ALARM_HYSTERESIS"] %}
{%- set apsport_attr_id_list = ["LAI_APSPORT_ATTR_ENABLED",
                                "LAI_APSPORT_ATTR_TARGET_ATTENUATION",
                                "LAI_APSPORT_ATTR_POWER_LOS_THRESHOLD",
                                "LAI_APSPORT_ATTR_POWER_LOW_THRESHOLD"] %}
{%- set apsport_gauge_id_list = ["LAI_APSPORT_STAT_OPTICAL_POWER",
                                 "LAI_APSPORT_STAT_ATTENUATION"] %}
{%- set attenuator_attr_id_list = ["LAI_ATTENUATOR_ATTR_ATTENUATION_MODE",
                                   "LAI_ATTENUATOR_ATTR_TARGET_OUTPUT_POWER",
                                   "LAI_ATTENUATOR_ATTR_ATTENUATION",
                                   "LAI_ATTENUATOR_ATTR_INGRESS_PORT",
                                   "LAI_ATTENUATOR_ATTR_EGRESS_PORT",
                                   "LAI_ATTENUATOR_ATTR_FIX_ATTENUATION",
                                   "LAI_ATTENUATOR_ATTR_ENABLED"] %}
{%- set attenuator_gauge_id_list = ["LAI_ATTENUATOR_STAT_ACTUAL_ATTENUATION",
                                    "LAI_ATTENUATOR_STAT_OUTPUT_POWER_TOTAL",
                                    "LAI_ATTENUATOR_STAT_OPTICAL_RETURN_LOSS"] %}
{%- set linecard_attr_id_list = [
                              "LAI_LINECARD_ATTR_ADMIN_STATE",
                              "LAI_LINECARD_ATTR_OPER_STATUS",
                              "LAI_LINECARD_ATTR_RELAY",
                              "LAI_LINECARD_ATTR_CPLD_VERSION",
                              "LAI_LINECARD_ATTR_SCRIPT_VERSION",
                              "LAI_LINECARD_ATTR_MFG_NAME",
                              "LAI_LINECARD_ATTR_BAUD_RATE",
                              "LAI_LINECARD_ATTR_SOFTWARE_VERSION",
                              "LAI_LINECARD_ATTR_FPGA_VERSION",
                              "LAI_LINECARD_ATTR_UCD_VERSION",
                              "LAI_LINECARD_ATTR_TEMP_HIGH_ALARM_THRESHOLD",
                              "LAI_LINECARD_ATTR_TEMP_HIGH_WARN_THRESHOLD",
                              "LAI_LINECARD_ATTR_TEMP_LOW_ALARM_THRESHOLD",
                              "LAI_LINECARD_ATTR_TEMP_LOW_WARN_THRESHOLD",
                              "LAI_LINECARD_ATTR_SLOT_ID",
                              "LAI_LINECARD_ATTR_LED_MODE",
                              "LAI_LINECARD_ATTR_LED_FLASH_INTERVAL",
                              "LAI_LINECARD_ATTR_LED_COLOR",
                              "LAI_LINECARD_ATTR_EQUIPMENT_FAILURE",
                              "LAI_LINECARD_ATTR_EQUIPMENT_MISMATCH"] %}
{%- set linecard_gauge_id_list = [
                              "LAI_LINECARD_STAT_MEMORY_AVAILABLE",
                              "LAI_LINECARD_STAT_MEMORY_UTILIZED",
                              "LAI_LINECARD_STAT_CPU_UTILIZATION",
                              "LAI_LINECARD_STAT_TEMPERATURE"] %}
[
    {
        "PORT_COUNTER_ID_LIST_STATUS": {
{% for id in port_attr_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "INPORT_COUNTER_ID_LIST_GAUGE": {
{% for id in inport_gauge_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "OUTPORT_COUNTER_ID_LIST_GAUGE": {
{% for id in outport_gauge_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "APS_COUNTER_ID_LIST_STATUS": {
{% for id in aps_attr_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "APSPORT_COUNTER_ID_LIST_STATUS": {
{% for id in apsport_attr_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "APSPORT_COUNTER_ID_LIST_GAUGE": {
{% for id in apsport_gauge_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "ATTENUATOR_COUNTER_ID_LIST_STATUS": {
{% for id in attenuator_attr_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "ATTENUATOR_COUNTER_ID_LIST_GAUGE": {
{% for id in attenuator_gauge_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "LINECARD_COUNTER_ID_LIST_STATUS": {
{% for id in linecard_attr_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    },
    {
        "LINECARD_COUNTER_ID_LIST_GAUGE": {
{% for id in linecard_gauge_id_list  %}
            "attr{{loop.index}}": "{{ id }}"{% if not loop.last %},{% endif %}

{% endfor %}
        },
        "OP": "SET"
    }
]
