[Unit]
Description=start-up script of accelink mainboard
Documentation=man:systemd-rc-local-generator(8)
After=network.target
After=rc-local.service
Before=database.service

[Service]
Type=forking
ExecStart=/usr/sbin/accelink-startup.sh
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=sonic.target
