{
    "asic_type": "{{ asic_type }}",
    "asic_id": "{{ DEVICE_METADATA.localhost.asic_id }}",
    "hwsku": "{{ DEVICE_METADATA.localhost.hwsku }}",
    "synchronous_mode": {% if DEVICE_METADATA.localhost.synchronous_mode == "disable" %}"disable"{% else %}"enable"{% endif %}
}
