{
"chassis": {"ver": "V100R002C000B{{B_NUMBER}}"},
"P230C": {"ver": "{{p230c_latest_bin}}", "md5": "{{P230C_BIN_MD5}}", "bin": "DCI_OBX1100_P230.bin"},
"E120C": {"ver": "{{e110c_latest_bin}}", "md5": "{{E110C_BIN_MD5}}", "bin": "DCI_OEX1000_E110.bin"},
"E110C": {"ver": "{{e110c_latest_bin}}", "md5": "{{E110C_BIN_MD5}}", "bin": "DCI_OEX1000_E110.bin"},
"E100C": {"ver": "{{e110c_latest_bin}}", "md5": "{{E110C_BIN_MD5}}", "bin": "DCI_OEX1000_E110.bin"},
"fpgaup": {"ver": "{{fpga_up_latest_bin}}", "md5": "{{FPGA_UP_BIN_MD5}}", "bin": "output_file_auto.rpd"},
"fpgaup-x86": {"ver": "{{fpga_up_x86_latest_bin}}", "md5": "{{FPGA_UP_X86_BIN_MD5}}", "bin": "output_file_cfm1_auto.rpd"},
"fpgadown": {"ver": "{{fpga_down_latest_bin}}", "md5": "{{FPGA_DOWN_BIN_MD5}}", "bin": "fpga_burn.bin"},
"sonic": {"ver": "SONiC.{{IMAGE_VERSION}}", "md5": "{{SONIC_BIN_MD5}}", "bin": "sonic-accelink.bin"}
}
